<div class="col-md-7 well">
  <p><%= comment.content%></p>
  <p><small><%= comment.created_at.strftime("%b %d, %Y")%> by 
  <% if comment.user != nil %>
    <%= link_to comment.user[:nickname], user_path(comment.user) %></small></p>
  <% end %>
</div>